
<% content_for :header do %>
    <title>All Questions - Queue Overflow</title>
<% end %>

<div class="container">
  <h3>All Questions
  <%= link_to 'Ask Question', new_question_path, class:'btn btn-default btn-box btn-blue pull-right', style:'margin-top:-10px;' %>
  </h3><hr>
  <% @questions.each do |question| %>
    <div class="box" style='padding:5px;margin:5px;border-bottom:0.5px solid lightgray;'>
    <div class="row">
      <div class="col-xs-2"><br>
        <h2><%= "#{Answer.where(question_id: question.id).count}" %></h2>
        <h5>Ans</h5>
      </div>
      <div class="col-xs-10 text-left"><br>
        <%= link_to question do %>
          <h4 class='text-left q-text'><i class="fa fa-hand-o-right"></i> <%= question.content %></h4>
        
        <% end %>
          <p>tag : <span class="btn btn-default btn-xs"><%= "#{question.tag}" %></span></p>
          <p class="text-left">
            <%= link_to "Open in new tab", question, class:'btn btn-info btn-xs', 'target': '_blank' %>
            <% if user_signed_in? && current_user.id == question.user_id %>
              <% if Answer.find_by(question_id: question.id).blank? %>
                <%= link_to 'Edit', edit_question_path(question), class:'btn btn-default btn-xs' %>
              <% end %>
              <%= link_to 'Delete this question', question, class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>
        <p class='pull-right'>
          <i style='font-size:12px;'>
            Published By - <%= User.find(question.user_id).name %>,
            <%= time_ago_in_words question.created_at %> ago
          </i>
        </p>
      </div>
    </div>
    </div>
  <% end %>
</div>
