
<% content_for :header do %>
    <title>All Questions - Queue Overflow</title>
<% end %>

<div class="container">
  <h3>All Questions
  <%= link_to 'Ask Question', new_question_path, class:'btn btn-default btn-box btn-blue pull-right', style:'margin-top:-10px;' %>
  </h3><hr>
  <% @questions.each do |question| %>
    <div class="box" style='padding:5px;margin:5px'>
      <%= link_to question do %>
        <h5 class='text-left'><i class="fa fa-hand-o-right"></i> <%= question.content %></h5>

        <!-- styling pending -->
        <p class="lead"> <%= 'user: '+ User.find(question.user_id).name %></p>
        <p class="lead"> <%= time_ago_in_words question.created_at %></p>
        <!-- -->

        <p class="text-left">
          <%= link_to "Open in new tab", question, class:'btn btn-info btn-xs', 'target': '_blank' %>
          <% if user_signed_in? && current_user.id == question.user_id  %>
            <%= link_to 'Edit', edit_question_path(question), class:'btn btn-default btn-xs' %>
            <%= link_to 'Delete this question', question, class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
