
<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @question.tag %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<br>
<br>
<% @a = Answer.where(question_id: @question.id) %>

<% if @a.inspect.length > 28 %>
  <table>
    <thead>
      <tr>
        <th>Content</th>
        <th>Up vote</th>
        <th>Down vote</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @a.each do |answer| %>
        <tr>
          <td><%= answer.content%></td>
          <td><%= answer.up_vote %></td>
          <td><%= answer.down_vote %></td>
          <td><%= link_to 'Show', answer %></td>
          <% if user_signed_in? && current_user.id == answer.user_id  %>
            <td><%= link_to 'Edit', edit_answer_path(answer, question: @question.id) %></td>
            <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end  %>
          <td><%= link_to 'Up_Vote',  increment_path(answer,'up_vote'), method: :put %></td>
          <td><%= link_to 'Down_Vote', increment_path(answer,'down_vote'), method: :put %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'New Answer', new_answer_path(:question => @question.id) %>
