<% content_for :header do %>
    <title><%= @question.content %> - Queue Overflow</title>
<% end %>

<div class="container">
  <style>
    .btn-back{
      border-radius: 50%;
    }
  </style>
  <%= link_to questions_path, class:'btn btn-default btn-md btn-back', title:'Go Back' do %>
    <i class="fa fa-arrow-left"></i>
  <% end %>
  <h3><i class="fa fa-hand-o-right"></i> <%= @question.content %></h3>
  <%= link_to 'Ask Question', new_question_path, class:'btn btn-default btn-box btn-blue pull-right' %> <br>
  Tags: <span class="btn btn-default btn-xs"><%= @question.tag %></span>
  <p>
    <i style='font-size:12px;'>
      Published By - <%= User.find(@question.user_id).name %>,
      <%= time_ago_in_words @question.created_at %> ago
    </i>
  </p>

  <% if user_signed_in? && current_user.id == @question.user_id && Answer.find_by(question_id: @question.id).blank? %>
    <%= link_to 'Edit', edit_question_path(@question), class:'btn btn-default btn-xs' %>
    <%= link_to 'Delete this question', @question, class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
  <% @a = Answer.where(question_id: @question.id).order(:up_vote).reverse_order %>
  <% if @a.inspect.length > 28 %>
    <% @a.each do |answer| %>
    <div class="row">
      <div class="col-xs-1 text-center">
        <%= link_to  increment_path(answer,'up_vote'), method: :put do %>
          <i class="fa fa-caret-up vote-icon"></i>
        <% end %>
        <br>
        <i class="fa fa-arrow-up"></i> <%= answer.up_vote %>
        <i class="fa fa-arrow-down"></i> <%= answer.down_vote %>
        <br>
        <%= link_to  increment_path(answer,'down_vote'), method: :put do %>
          <i class="fa fa-caret-down vote-icon"></i>
        <% end %>
      </div>
      <div class="col-xs-11">
        <div class="box" style='padding:5px;margin:5px;border-bottom:0.5px solid lightgray;'>
          <p class="text-left ans-text">
          <%= answer.content %>
          <br><br>
          <% if user_signed_in? && current_user.id == answer.user_id  %>
            <td><%= link_to 'Edit', edit_answer_path(answer, question: @question.id), class:'btn btn-default btn-xs' %></td>
            <td><%= link_to 'Delete this answer', answer, class:'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end  %>
        </p>
        <p class='pull-right'>
          <i style='font-size:12px;'>
            Published By - <%= User.find(answer.user_id).name %>,
            <%= time_ago_in_words answer.created_at %> ago
          </i>
        </p><br><br>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <br><br>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <%= link_to 'Give Your Answer', new_answer_path(:question => @question.id), class:'btn btn-default btn-box btn-blue btn-block' %>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
<br><hr><br>
